:root {
    --accent: #1a9ad7;
    --success: #46C289;
    --icon-color: var(--text-default);
    --message-error: #D94D58;

    --ffr-brand: #009eda;
    --ffr-brand-accent: #e13338;
    --ffr-brand-shadow: 6px 4px 20px rgba(116, 141, 186, 0.6);

    --background--primary: #dadadf;
    --background--primary-hover: #cfcfd6;
    --background--primary-hover-contrast: #303036;
    --background--secondary: #212125;
    --background--card: rgba(242, 242, 248, 0.92);
    --background--card-hover: rgba(248, 248, 254, 0.92);
    --background--card-secondary: rgba(230, 230, 234, 0.78);
    --background--diff: rgba(0, 0, 0, 0.04);

    --background--image: rgba(242, 242, 248, 0.2);
    --border-photo: rgb(224, 224, 228);

    --text-default: #080811;
    --text-hovered: #202026;
    --text-muted: #757589;
    --text-depressed: #9898AB;

    --text-contrast: #f2f2f7;
    --text-contrast-hovered: #c4c4ca;
    --text-card-contrast: #f2f2f7;
}

.theme-dark {
    --ffr-brand-shadow: 7px 6px 23px -6px rgba(31, 37, 42, 0.6);

    --background--primary: #2f2f34;
    --background--primary-hover: #303036;
    --background--primary-hover-contrast: #303036;
    --background--secondary: #111118;
    --background--card: rgba(16, 16, 24, 0.92);
    --background--card-hover: rgba(41, 41, 47, 0.92);
    --background--card-secondary: rgba(36, 36, 42, 0.78);
    --background--diff: rgba(255, 255, 255, 0.02);

    --background--image: rgba(41, 41, 47, 0.2);
    --border-photo: rgb(44, 44, 48);

    --text-default: #f2f2f7;
    --text-hovered: #d8d8dd;
    --text-muted: #C2C2C7;
    --text-depressed: #898994;

    --text-contrast: #f2f2f7;
    --text-contrast-hovered: #c4c4ca;
    --text-card-contrast: #111118;
}