/* BUTTON STYLES */
button.actionButton {
    display: flex;align-items: center;
    gap: .25rem;
    padding: 0.25rem 0.75rem;
    background: var(--background--card-hover);
    border-radius: 4px;
    transition: background-color 64ms, color 64ms;
}
button.actionButton:hover {
    background: var(--ffr-brand);
    color: white;
}
button.actionButton:active {
    opacity: 0.75;
    scale: 0.95;
}

button.downloadButton {
    padding: 0.25rem 0.75rem;
    color: var(--text-muted);
    background: var(--background--card-hover);
    border-radius: 4px;
    transition: background-color 64ms, color 64ms;
}
button.downloadButton > * {
    color: inherit !important;
    transition: color 64ms linear 0ms !important;
}
button.downloadButton:hover {
    color: var(--success);
}
button.downloadButton:active {
    opacity: 0.75;
    scale: 0.95;
}
/* --------------- */

/* INPUT STYLES */
input, select {
    color: inherit;
    border: none;
    font-size: 1rem;
    font-family: inherit;
}
input.input-text {
    width: 100%;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: var(--background--card-secondary);
    outline: transparent;
}
input.input-text:focus {
    outline: 1px solid var(--ffr-brand);
    background-color: var(--background--card-hover);
}

select.input-select {
    width: 100%;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: var(--background--card-secondary);
    outline: transparent;
}
select.input-select:focus {
    outline: 1px solid var(--ffr-brand);
    background-color: var(--background--card-hover);
}
select.input-select option[data-cancel-option="true"] {
    color: var(--message-error);
}
/* --------------- */